.container00 {

  &.container06,
  &.carousel01,
  &.carousel02,
  &.carousel03,
  &.carousel04,
  &.carousel05,
  &.container07 {
    background-position: left;
  }

  &.container05 {
    background-image: url(../imgs/falcon9/f9Container05.jpg);
  }

  &.container06 {
    background-image: url(../imgs/falcon9/f9Container06.jpg);
  }

  &.carousel01 {
    background-image: url(../imgs/falcon9/f9carousel01.jpg);
  }

  &.carousel02 {
    &:has(.overviewTab.active) {
      background-image: url(../imgs/falcon9/f9carousel02_0.jpg);
    }

    &:has(.enginesTab.active) {
      background-image: url(../imgs/falcon9/f9carousel02_1.jpg);
    }

    &:has(.landingLegsTab.active) {
      background-image: url(../imgs/falcon9/f9carousel02_2.jpg);
    }
  }

  &.carousel03 {
    background-image: url(../imgs/falcon9/f9carousel03.jpg);
  }

  &.carousel04 {
    background-image: url(../imgs/falcon9/f9carousel04.jpg);
  }

  &.carousel05 {
    &:has(.fairingTab.active) {
      background-image: url(../imgs/falcon9/f9carousel05_0.jpg);
    }

    &:has(.dragonTab.active) {
      background-image: url(../imgs/falcon9/f9carousel05_1.jpg);
    }
  }

  &.container07 {
    background-image: url(../imgs/falcon9/f9Container07.jpg);
  }
}

.titleContent {
  .titleFalcon9 {
    font-size: 100px;
    font-weight: 500;
  }

  .subtitleFalcon9 {
    font-size: 17px;
    font-weight: 400;
  }
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;

  .titleNumb {
    font-size: 90px;
    margin-bottom: -15px;
  }

  .subtitleNumb {
    font-size: 20px;
  }
}

.overviewPosition {
  display: grid;
  align-items: center;
  height: 90vh;
  max-width: 500px;
  margin-left: 12%;

  .overview {
    .titleOverview {
      font-size: 48px;
      margin-bottom: 30px;
    }

    .subtitleOverview {
      font-size: 20px;
      margin-bottom: 0;
    }

    .midleTitleOverview {
      font-size: 20px;
      font-weight: 400;
    }

    .table {
      font-weight: 500;
      border-collapse: separate;
      border-bottom-color: $copy-color;

      td {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 0;
        padding-right: 0;
      }

    }

    .darkerText {
      color: $table-item;
      font-weight: 400;
    }

    .contentTabs {
      margin-bottom: 8px;

      .nav-link {
        padding-left: 0;
        padding-right: 10px;
        color: $copy-color;

        &:hover {
          color: #ffffff;
        }

        &.active {
          color: #ffffff;
        }
      }

      span {
        padding: 8px 10px 8px 0;
        color: $copy-color;
      }
    }
  }
}

.carouselSlide {
  img {
    height: 92vh;
    object-fit: cover;
  }

  .carouselTextContainer {
    display: grid;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: 0 10px;
  }

  .carouselText {
    margin: 0;
  }
}

@media (max-width: 950px) {
  .container00 {

    &.container06,
    &.carousel01,
    &.carousel02,
    &.carousel03,
    &.carousel04,
    &.carousel05,
    &.container07 {
      background-position: center;
    }
  }
}

@media (max-width: 580px) {
  .titleContent {
    .titleFalcon9 {
      font-size: 50px;
      font-weight: 500;
    }

    .subtitleFalcon9 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .overviewPosition {
    margin: 0 auto;

    .overview {
      .darkerText {
        color: $table-item-mobile;
      }
    }
  }

  #falcon9Carousel {
    .carouselControl {
      opacity: 0;
    }
  }
}