.container00 {
  &.container01 {
    background-image: url(../imgs/home/homeContainer01.jpg);

    .titlePadding {
      padding-top: 60vh;
    }
  }

  &.container02 {
    background-image: url(../imgs/home/homeContainer02.jpg);
  }

  &.container03 {
    background-image: url(../imgs/home/homeContainer03.jpeg);
  }

  &.container04 {
    background-image: url(../imgs/home/homeContainer04.jpg);
  }
}

.titlePadding {
  padding-top: 70vh;
}

.shortTitle {
  width: 30rem;
  margin: 0 0 -1.56rem 0;
}

.mediumTitle {
  width: 40rem;
  margin: 0 0 -25rem 0;
}

@media (max-width: 750px) {
  .titlePadding {
    top: 70vh;
  }

  .shortTitle,
  .mediumTitle {
    width: auto;
  }
}