@font-face {
  src: url("../fonts/D-DIN.otf");
  font-family: "D-DIN";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/D-DIN-Bold.otf");
  font-family: "D-DIN";
  font-weight: 500;
}
* {
  font-family: "D-DIN";
  letter-spacing: 0.03rem;
  color: #ffffff;
  text-shadow: 0 0 2px #555;
}

body {
  background-color: #000000;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  font-size: 15px;
  font-weight: 500;
}
.header .logoPc {
  width: 15rem;
  margin: 0 40px 0 -10px;
}
.header .navItem:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.arrowDown {
  display: inline-block;
  width: 120px;
  margin-top: 50px;
}

.button {
  font-weight: 500;
  font-size: 14px;
  width: 164px;
  padding: 15px 0;
  border-radius: 0;
  border-width: 2px;
}

.emailLink {
  text-decoration: none;
  color: #ffffff;
}
.emailLink:hover {
  color: #b9b9b9;
}

.downloadDescPosition {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 88vh;
}
.downloadDescPosition .downloadDesc p {
  font-weight: 400;
  color: #555252;
}
.downloadDescPosition .downloadDesc .button {
  width: 225px;
  margin: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  height: 12vh;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyFooter {
  color: #555252;
}

@media (max-width: 405px) {
  .header .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .header .logoPc {
    width: 145px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../imgs/home/homeContainer01.jpg);
}
.container00.container01 .titlePadding {
  padding-top: 60vh;
}
.container00.container02 {
  background-image: url(../imgs/home/homeContainer02.jpg);
}
.container00.container03 {
  background-image: url(../imgs/home/homeContainer03.jpeg);
}
.container00.container04 {
  background-image: url(../imgs/home/homeContainer04.jpg);
}

.titlePadding {
  padding-top: 70vh;
}
.titlePadding .topSubtitle {
  font-size: 20px;
  font-weight: 400;
}
.titlePadding .shortTitle {
  font-size: 48px;
  max-width: 480px;
  margin: 0 0 -25px 0;
}

@media (max-width: 750px) {
  .titlePadding .shortTitle {
    font-size: 36px;
  }
}
.container00.container06, .container00.carousel01, .container00.carousel02, .container00.carousel03, .container00.carousel04, .container00.carousel05, .container00.container07 {
  background-position: left;
}
.container00.container05 {
  background-image: url(../imgs/falcon9/f9Container05.jpg);
}
.container00.container06 {
  background-image: url(../imgs/falcon9/f9Container06.jpg);
}
.container00.carousel01 {
  background-image: url(../imgs/falcon9/f9carousel01.jpg);
}
.container00.carousel02:has(.overviewTab.active) {
  background-image: url(../imgs/falcon9/f9carousel02_0.jpg);
}
.container00.carousel02:has(.enginesTab.active) {
  background-image: url(../imgs/falcon9/f9carousel02_1.jpg);
}
.container00.carousel02:has(.landingLegsTab.active) {
  background-image: url(../imgs/falcon9/f9carousel02_2.jpg);
}
.container00.carousel03 {
  background-image: url(../imgs/falcon9/f9carousel03.jpg);
}
.container00.carousel04 {
  background-image: url(../imgs/falcon9/f9carousel04.jpg);
}
.container00.carousel05:has(.fairingTab.active) {
  background-image: url(../imgs/falcon9/f9carousel05_0.jpg);
}
.container00.carousel05:has(.dragonTab.active) {
  background-image: url(../imgs/falcon9/f9carousel05_1.jpg);
}
.container00.container07 {
  background-image: url(../imgs/falcon9/f9Container07.jpg);
}

.titleContent .titleFalcon9 {
  font-size: 100px;
  font-weight: 500;
}
.titleContent .subtitleFalcon9 {
  font-size: 17px;
  font-weight: 400;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
}
.numbers .titleNumb {
  font-size: 90px;
  margin-bottom: -15px;
}
.numbers .subtitleNumb {
  font-size: 20px;
}

.overviewPosition {
  display: grid;
  align-items: center;
  height: 90vh;
  max-width: 500px;
  margin-left: 12%;
}
.overviewPosition .overview .titleOverview {
  font-size: 48px;
  margin-bottom: 30px;
}
.overviewPosition .overview .subtitleOverview {
  font-size: 20px;
  margin-bottom: 0;
}
.overviewPosition .overview .midleTitleOverview {
  font-size: 20px;
  font-weight: 400;
}
.overviewPosition .overview .table {
  font-weight: 500;
  border-collapse: separate;
  border-bottom-color: #555252;
}
.overviewPosition .overview .table td {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}
.overviewPosition .overview .darkerText {
  color: #c0c0c0;
  font-weight: 400;
}
.overviewPosition .overview .contentTabs {
  margin-bottom: 8px;
}
.overviewPosition .overview .contentTabs .nav-link {
  padding-left: 0;
  padding-right: 10px;
  color: #555252;
}
.overviewPosition .overview .contentTabs .nav-link:hover {
  color: #ffffff;
}
.overviewPosition .overview .contentTabs .nav-link.active {
  color: #ffffff;
}
.overviewPosition .overview .contentTabs span {
  padding: 8px 10px 8px 0;
  color: #555252;
}

.carouselSlide img {
  height: 92vh;
  object-fit: cover;
}
.carouselSlide .carouselTextContainer {
  display: grid;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding: 0 10px;
}
.carouselSlide .carouselText {
  margin: 0;
}

@media (max-width: 950px) {
  .container00.container06, .container00.carousel01, .container00.carousel02, .container00.carousel03, .container00.carousel04, .container00.carousel05, .container00.container07 {
    background-position: center;
  }
}
@media (max-width: 580px) {
  .titleContent .titleFalcon9 {
    font-size: 50px;
    font-weight: 500;
  }
  .titleContent .subtitleFalcon9 {
    font-size: 16px;
    font-weight: 400;
  }
  .overviewPosition {
    margin: 0 auto;
  }
  .overviewPosition .overview .darkerText {
    color: #eeeeee;
  }
  #falcon9Carousel .carouselControl {
    opacity: 0;
  }
}
.container00.container08 {
  background-image: url(../imgs/humanFlight/humanSpaceContainer08.webp);
}
.container00.container09 {
  background-image: url(../imgs/humanFlight/humanSpaceContainer09.jpg);
}
.container00.container10 {
  background-image: url(../imgs/humanFlight/humanSpaceContainer10.jpg);
}
.container00.container11 {
  background-image: url(../imgs/humanFlight/humanSpaceContainer11.jpg);
}
.container00.container12 {
  background-image: url(../imgs/humanFlight/humanSpaceContainer12.jpg);
}

.titleContent .titleHuman {
  font-size: 80px;
}
.titleContent .subtitleHuman {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.humanSpaceDesc {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
.humanSpaceDesc p {
  font-size: 18px;
  max-width: 800px;
  color: #c0c0c0;
}

.sectionPosition {
  display: grid;
  height: 100vh;
  align-items: center;
}
.sectionPosition .sectionContent {
  max-width: 50%;
}
.sectionPosition .sectionContent.rightContent {
  margin-left: 55%;
}
.sectionPosition .sectionContent .sectionHeadTitle {
  font-weight: 300;
}
.sectionPosition .sectionContent .sectionTitle {
  font-size: 60px;
  font-weight: 500;
}
.sectionPosition .sectionContent .sectionSubtitle {
  font-weight: 300;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .titleContent .titleHuman {
    font-size: 60px;
  }
  .titleContent .subtitleHuman {
    font-size: 16px;
  }
  .sectionPosition .sectionContent {
    max-width: 70%;
    text-align: center;
  }
}
@media (max-width: 460px) {
  .titleContent .titleHuman {
    font-size: 40px;
  }
  .sectionPosition .sectionContent {
    max-width: 100%;
    text-align: center;
  }
  .sectionPosition .sectionContent.rightContent {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
