// Colors
$link-hover: #b9b9b9;
$copy-color: #555252;
$table-item: #b3b3b3;

// Padding
$standard-padding: 20px 0px;
$button-padding: 15px 0;

// General
* {
  font-family: 'D-DIN';
  color: #ffffff;
}

body {
  background-color: #000000;
}